/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/*--------------------------------------------
 Parameters
--------------------------------------------*/

/*Grid Params*/
$column_left_grid_num: 15;
$column_right_grid_num: 15;
$one_grid: 30px;

/*# of toal grids*/
$all_grid_partition_num: $column_left_grid_num + $column_right_grid_num;

/*size calculation*/
$container_width: $all_grid_partition_num * $one_grid;
$column_left_width: $column_left_grid_num * $one_grid;
$column_right_width: $column_left_grid_num * $one_grid;

/*fill color*/
$bg_color:F0EFF5;
$column_color: DFDED8;
$header_color: 444545;
$border_color: C5C5C5;

/*text related designs*/
$header_text_color: white;
$main_text_color: gray;
$sub_text_color: light gray;
$font:'Roboto',Meiryo, メイリオ;


/* misc */
$search_input_width: 320px;	
$search_input_height: 22px;

/*--------------------------------------------
 Overall
--------------------------------------------*/
html {
    overflow: auto;
}

body{
	background-color: $bg_color;
	font-family:$font;
	padding: 0 2em;
    overflow-x: hidden;
    position: relative;
}

/*--------------------------------------------
 Header
--------------------------------------------*/


/*--------------------------------------------
Common for the columns (new ver with Bootstrap)
--------------------------------------------*/
.row > .col-sm-6{
	height: 600px;
	vertical-align: middle;
	background-color: $column_color;
	border:1px solid $border_color;
	margin-top:10px;
	text-align: center;
	display: table-cell;
	overflow-y:scroll;
  	top:0px;
  	left:0px;
}






