/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

/*--------------------------------------------
 Parameters
--------------------------------------------*/

/*Grid Params*/
$column_left_grid_num: 15;
$column_right_grid_num: 15;
$column_between_grid_num: 1;
$one_grid: 30px;

/*# of toal grids*/
$all_grid_partition_num: $column_left_grid_num + $column_right_grid_num + $column_between_grid_num;

/*size calculation*/
$container_width: $all_grid_partition_num * $one_grid;
$column_left_width: $column_left_grid_num * $one_grid;
$column_right_width: $column_left_grid_num * $one_grid;

/*fill color*/
$bg_color:F0EFF5;
$column_color: DFDED8;
$header_color: 444545;
$border_color: gray;

/*text related designs*/
$header_text_color: white;
$main_text_color: gray;
$sub_text_color: light gray;
$font:"Hiragino Maru Gothic Pro";


/* misc */
$search_input_width: 300px;
$word_search_position: 10px;
$tag_search_position: $word_search_position + 370px;

/*--------------------------------------------
 Overall
--------------------------------------------*/
html {
    overflow: auto;
}

body{
	background-color: $bg_color;
	font-family:$font;
	padding: 0 2em;
    overflow-x: hidden;
    position: relative;
    min-width: 1000px;
}

/*--------------------------------------------
 Header
--------------------------------------------*/
#header{
	display:block;
	line-height:50px;
	margin: 0 -500%; /* 上下のmarginは元の値に合わせて適宜変更 */
    padding: 0 500%; 
    position: relative;
	height: 50px;
	width: $container_width;
	font-family: arial black;
	font-size: 25px;
	color:$header_text_color;
	background-color: $header_color;
}

/*--------------------------------------------
 Search Area
--------------------------------------------*/
#search-area{
	margin: 0 auto;
	width:$container_width;
	height: 50px;
	position: relative;
	background-color: gray;
 	-webkit-border-radius: 0px 0px 6px 6px / 0px 0px 6px 6px;
    -moz-border-radius: 0px 0px 6px 6px / 0px 0px 6px 6px;
    border-radius: 0px 0px 6px 6px / 0px 0px 6px 6px;
}

#search-area > .search_form{
	width: 350px;  
    background-color: white;
    display: block;  
    height: 26px;  
    position: absolute;
    margin-top: 12px;
    margin-left: 15px;
    -webkit-border-radius: 6px 6px 6px 6px / 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px / 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px / 6px 6px 6px 6px;    
}

.search_input{  
    width: $search_input_width;
    height: 20px;
    position: absolute;  
    top: 2px;  
    left: 1px;  
    border: 1px solid #FFF; 
    font-family:$font;
    color: gray;
}  

 .search_button {  
    position: absolute;  
    top: 4px;  
}

#search_word_button {
	position: absolute;
	left: $word_search_position + $search_input_width;
}

#search_tag_button {
	position: absolute;
	left: $tag_search_position + $search_input_width;
}

#search-word{
	position:absolute;
	left: $word_search_position;
}

#search-tag{
	position:absolute;
	left: $tag_search_position;

}

/*--------------------------------------------
 Left Column
--------------------------------------------*/
div#registered-words-list{
	height: 600px;
	width: $column_left_width;
	float: left;
	vertical-align: middle;
	background-color: $column_color;
	border:1px solid $border_color;
	margin-top:10px;
	text-align: center;
}

/*--------------------------------------------
 Right Column
--------------------------------------------*/

div#registered-word-detail {
	height: 600px;
	width: $column_right_width;
	float: right;
	vertical-align: middle;
	background-color: $column_color;
	border:1px solid $border_color;
	margin-top:10px;
	text-align: center;
}


