/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

div#header{
	font-family: arial black;
	font-size: 30px;
	color:white;
	background-color: 444545;
	height: 50px;
	text-align:0,center;
	text-indent: 200px;
	padding-top:10;
}

#newword {
	font-family: serif;
	font-size: 20px;
}


