@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*--------------------------------------------
 Parameters
--------------------------------------------*/
/*Grid Params*/
/*# of toal grids*/
/*size calculation*/
/*fill color*/
/*text related designs*/
/* misc */
/*--------------------------------------------
 Overall
--------------------------------------------*/
/* line 45, ../sass/screen.scss */
html {
  overflow: auto;
}

/* line 49, ../sass/screen.scss */
body {
  background-color: F0EFF5;
  font-family: "Roboto", Meiryo, メイリオ;
  padding: 0 2em;
  overflow-x: hidden;
  position: relative;
}

/*--------------------------------------------
 Header
--------------------------------------------*/
/* line 60, ../sass/screen.scss */
#header {
  display: block;
  height: 50px;
  line-height: 50px;
  margin: 0 -500%;
  /* 上下のmarginは元の値に合わせて適宜変更 */
  padding: 0 500%;
  position: relative;
  width: 900px;
  font-family: arial black;
  font-size: 25px;
  color: white;
  background-color: 444545;
}

/*--------------------------------------------
 Search Area
--------------------------------------------*/
/* line 77, ../sass/screen.scss */
#search-area {
  margin: 0 auto;
  width: 900px;
  height: 50px;
  position: relative;
  background-color: gray;
  -webkit-border-radius: 0px 0px 6px 6px / 0px 0px 6px 6px;
  -moz-border-radius: 0px 0px 6px 6px / 0px 0px 6px 6px;
  border-radius: 0px 0px 6px 6px / 0px 0px 6px 6px;
}

/* line 88, ../sass/screen.scss */
#search-area > .search_form {
  width: 350px;
  background-color: white;
  display: block;
  height: 26px;
  position: absolute;
  margin-top: 12px;
  margin-left: 15px;
  -webkit-border-radius: 6px 6px 6px 6px / 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px / 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px / 6px 6px 6px 6px;
}

/* line 101, ../sass/screen.scss */
.search_input {
  width: 320px;
  height: 22px;
  position: absolute;
  top: 2px;
  left: 1px;
  border: 1px solid #FFF;
  font-family: "Roboto", Meiryo, メイリオ;
  color: gray;
}

/* line 112, ../sass/screen.scss */
.search_button {
  position: absolute;
  top: 4px;
  right: 10px;
}

/*--------------------------------------------
Common for the columns
--------------------------------------------*/
/* line 121, ../sass/screen.scss */
div.frame {
  display: table;
  margin: auto;
}

/* line 125, ../sass/screen.scss */
div#registered-words-list, div#registered-words-detail {
  height: 600px;
  width: 450px;
  float: left;
  vertical-align: middle;
  background-color: DFDED8;
  border: 1px solid C5C5C5;
  margin-top: 10px;
  text-align: center;
  display: table-cell;
  overflow-y: scroll;
  top: 0px;
  left: 0px;
}

/* line 141, ../sass/screen.scss */
footer {
  display: table;
  margin: auto;
  height: 50px;
  line-height: 50px;
  color: gray;
}
