@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/screen.scss */
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

/*--------------------------------------------
 Parameters
--------------------------------------------*/
/*Grid Params*/
/*fill color*/
/*text related designs*/
/* misc */
/*--------------------------------------------
 Overall
--------------------------------------------*/
/* line 47, ../sass/screen.scss */
html {
  overflow: auto;
}

/* line 51, ../sass/screen.scss */
body {
  background-color: #e6e9e2;
  font-family: "Roboto", Meiryo, メイリオ;
  overflow-x: hidden;
  position: relative;
}

/* line 58, ../sass/screen.scss */
a {
  color: black;
}

/* line 62, ../sass/screen.scss */
.navbar {
  background-color: #4f5050;
  border-bottom: 0px;
}

/* line 69, ../sass/screen.scss */
.header-nav-search .row {
  position: relative;
}
/* line 73, ../sass/screen.scss */
.header-nav-search .nav-search {
  background-color: #8a8a8a;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
/* line 79, ../sass/screen.scss */
.header-nav-search .register-new-word {
  position: absolute;
  left: 86%;
  bottom: 10px;
}
/* line 85, ../sass/screen.scss */
.header-nav-search .search-box {
  width: 560px;
  margin-left: -20px;
}

/* line 91, ../sass/screen.scss */
.searchbox {
  width: 500px;
  border-radius: 5px;
  text-indent: 20px;
  text-align: left;
}

/*--------------------------------------------
 Left column
--------------------------------------------*/
/* line 103, ../sass/screen.scss */
div#word-in-list {
  margin-top: 3px;
  background-color: white;
  float: left;
  position: relative;
  width: 100%;
  height: 75px;
  text-align: left;
  border-bottom: 1px solid #e6e6e6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #e6e6e6;
  cursor: pointer !important;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* line 121, ../sass/screen.scss */
div#word-name-in-list {
  left: 5px;
  font-size: 150%;
}

/* line 126, ../sass/screen.scss */
div#word-time-in-list {
  right: 5px;
  float: right;
  text-align: right;
}

/* line 132, ../sass/screen.scss */
div#word-list-latter-part {
  position: relative;
}

/* line 136, ../sass/screen.scss */
div#word-desc-in-list {
  position: absolute;
  left: 5px;
  color: gray;
}

/* line 142, ../sass/screen.scss */
div#word-tags-in-list {
  position: absolute;
  color: green;
  top: 30px;
  left: 5px;
}

/*--------------------------------------------
Common for the columns (new ver with Bootstrap)
--------------------------------------------*/
/* line 153, ../sass/screen.scss */
.row .outer {
  height: 600px;
  vertical-align: middle;
  background-color: DFDED8;
  border: 1px solid C5C5C5;
  margin-top: 10px;
  text-align: center;
  display: table-cell;
  overflow-y: scroll;
  top: 0px;
  left: 0px;
}
