<html>
  <body>
    <div class="ui-page">
         <div id="t-f39803f7-df02-4169-93eb-7547fb8c961a" class="template firer commentable" name="ヘッダー">
         <div id="alignmentBox">
           <link type="text/css" rel="stylesheet" href="./resources/templates/f39803f7-df02-4169-93eb-7547fb8c961a-1391938350429.css" />
           <!--[if IE]><link type="text/css" rel="stylesheet" href="./resources/templates/f39803f7-df02-4169-93eb-7547fb8c961a-1391938350429-ie.css" /><![endif]-->
           <!--[if lte IE 8]><link type="text/css" rel="stylesheet" href="./resources/templates/f39803f7-df02-4169-93eb-7547fb8c961a-1391938350429-ie8.css" /><![endif]-->
           <div id="t-Button_12" class="pie button firer commentable" ><div class="content"><div class="valign"><span></span></div></div></div>
           <div id="t-Rectangle_1" class="rectangle firer commentable" >
             <div class="content">
               <div class="valign">
                 <span id="rtr-t-Rectangle_1_0"><br /></span>
               </div>
             </div>
           </div>
           <div id="t-Rich_text_1" class="richtext firer ie-background commentable" >
             <div class="content">
               <div class="valign">
                 <span id="rtr-t-Rich_text_1_0">tofu</span>
               </div>
             </div>
           </div>
           <div id="t-Group_1" class="group firer ie-background commentable">
             <div id="t-Button_11" class="pie button firer commentable" ><div class="content"><div class="valign"><span>　新規追加する</span></div></div></div>
             <div id="t-Ellipse_1" class="ellipse shape non-processed-shape firer ie-background commentable" >
               <div class="content">
                 <div class="valign">
                    <span id="rtr-t-Ellipse_1_0"></span>
                 </div>
               </div>
             </div>
           </div>
           <img id="t-Image_161" class="image firer ie-background commentable"   alt="image" src="./images/3dc2ba4e-4c60-481c-9eea-1435a48df85a.png"/>

           </div>
           <div id="loadMark"></div>
         </div>  
    </div>
  </body>
</html>