#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Button_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rich_text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Button_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_161 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}