#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Row_cell_1 {
  position: relative;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 .s-Row_cell_2 {
  position: relative;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 .s-Image_139 {
  -ms-transform: rotate(0.0deg);
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 97px;
  height: 16px;
  -ms-transform: rotate(0.0deg);
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Category_1-options {
  background-color: transparent;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 15px 15px 15px 15px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  width: 468px;
  height: 11px;
  -ms-transform: rotate(0.0deg);
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Button_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 57px;
  height: 14px;
  -ms-transform: rotate(0.0deg);
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Button_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 57px;
  height: 14px;
  -ms-transform: rotate(0.0deg);
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Button_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 57px;
  height: 14px;
  -ms-transform: rotate(0.0deg);
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_9 {
  border-top-width: 3px;
  border-top-style: dashed;
  border-top-color: #CCCCCC;
  border-right-width: 3px;
  border-right-style: dashed;
  border-right-color: #CCCCCC;
  border-bottom-width: 3px;
  border-bottom-style: dashed;
  border-bottom-color: #CCCCCC;
  border-left-width: 3px;
  border-left-style: dashed;
  border-left-color: #CCCCCC;
  border-radius: 9px 9px 9px 9px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 467px;
  height: 68px;
  -ms-transform: rotate(0.0deg);
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Image_64 {
  -ms-transform: rotate(0.0deg);
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_6 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_27 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B5B5B5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B5B5B5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B5B5B5;
  border-radius: 6px 6px 0px 0px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 0px;
  padding-left: 3px;
  width: 161px;
  height: 7px;
  -ms-transform: rotate(0.0deg);
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_28 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B5B5B5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #B5B5B5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B5B5B5;
  border-radius: 0px 0px 6px 6px;
  padding-top: 0px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 161px;
  height: 7px;
  -ms-transform: rotate(0.0deg);
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Button_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9534E;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9534E;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9534E;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9534E;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 16px;
  width: 123px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}