#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 .s-Image_139 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Button_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Button_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Button_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Image_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Button_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}