#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 {
  background-color: transparent;
  background-image: none;
  min-width: 1221px;
  min-height: 740px;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_2 {
  position: absolute;
  top: 106px;
  left: 721px;
  width: 498px;
  height: 630px;
  background-color: #DFDED8;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12pt;
  font-family: Roboto-Bold;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_2 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold;
  font-size: 12pt;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold;
  font-size: 12pt;
  line-height: 0px;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Group_1 {
  position: absolute;
  top: 106px;
  left: 222px;
  width: 500px;
  height: 634px;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_1 {
  position: absolute;
  top: 28px;
  left: 0px;
  width: 498px;
  height: 604px;
  background-color: #DFDED8;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12pt;
  font-family: Roboto-Bold;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_1 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold;
  font-size: 12pt;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold;
  font-size: 12pt;
  line-height: 0px;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 498px;
  height: 27px;
  background-color: #F4F4EF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12pt;
  font-family: Roboto-Bold;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_3 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold;
  font-size: 12pt;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold;
  font-size: 12pt;
  line-height: 0px;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-words {
  position: absolute;
  top: 142px;
  left: 231px;
  width: 480px;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  box-shadow: none;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-words tr.odd {
  background-color: #FFFFFF;
  background-image: none;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-words tr.even {
  background-color: #F0F0F0;
  background-image: none;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Row_2 {
  background-color: transparent;
  background-image: none;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Row_cell_1 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Row_cell_1 .verticalalign {
  vertical-align: middle;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Row_cell_1 {
  width: 480px;
  height: 1px;
  background-color: #DFDFDF;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #7C8C9A;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #7C8C9A;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #7C8C9A;
  box-shadow: none;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 .s-Row_1 {
  background-color: transparent;
  background-image: none;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 .s-Row_cell_2 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 .s-Row_cell_2 .verticalalign {
  vertical-align: middle;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 .s-Row_cell_2 {
  width: 478px;
  height: 78px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  box-shadow: none;
  cursor: pointer;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 .s-Input_1 {
  position: absolute;
  top: 6px;
  left: 49px;
  width: 357px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 .s-Input_1 .valign {
  vertical-align: middle;
  line-height: 12pt;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 .s-Input_1 input {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold;
  font-size: 12pt;
  text-shadow: none;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 .s-Input_2 {
  position: absolute;
  top: 26px;
  left: 49px;
  width: 369px;
  height: 34px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  cursor: text;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 .s-Input_2 textarea {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold;
  font-size: 8pt;
  text-shadow: none;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 .s-Image_139 {
  position: absolute;
  top: 25px;
  left: 16px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 .s-Input_3 {
  position: absolute;
  top: 6px;
  left: 405px;
  padding-left: 9px;
  width: 69px;
  height: 15px;
  background-color: transparent;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 .s-Input_3 .valign {
  vertical-align: middle;
  line-height: 8pt;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 .s-Input_3 input {
  color: #1174C1;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 8pt;
  text-shadow: none;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 .s-Input_4 {
  position: absolute;
  top: 57px;
  left: 49px;
  padding-left: 1px;
  width: 85px;
  height: 13px;
  background-color: transparent;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 .s-Input_4 .valign {
  vertical-align: middle;
  line-height: 8pt;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 .s-Input_4 input {
  color: #87B43C;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 8pt;
  text-shadow: none;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Label_1 {
  position: absolute;
  top: 109px;
  left: 426px;
  width: 108px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 12pt;
  line-height: 12pt;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Label_1 .valign {
  vertical-align: middle;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Image_1 {
  position: absolute;
  top: 109px;
  left: 226px;
  width: 45px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Group_2 {
  position: absolute;
  top: 111px;
  left: 614px;
  width: 101px;
  height: 20px;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 97px;
  height: 16px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10pt;
  font-family: Arial;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Category_1 {
  position: absolute;
  top: 4px;
  left: 2px;
  padding-left: 8px;
  width: 91px;
  height: 13px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  color: #555555;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Category_1 .valign {
  width: 73px;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Group_11 {
  position: absolute;
  top: 63px;
  left: 229px;
  width: 486px;
  height: 29px;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_8 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 468px;
  height: 11px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 15px 15px 15px 15px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10pt;
  font-family: Arial;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Input_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 15px;
  width: 471px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Input_5 .valign {
  vertical-align: middle;
  line-height: 10pt;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Input_5 input {
  color: #555555;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_4 {
  position: absolute;
  top: 106px;
  left: 721px;
  width: 498px;
  height: 26px;
  background-color: #F4F4EF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12pt;
  font-family: Roboto-Bold;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_4 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold;
  font-size: 12pt;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold;
  font-size: 12pt;
  line-height: 0px;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_5 {
  position: absolute;
  top: 133px;
  left: 721px;
  width: 498px;
  height: 26px;
  background-color: #F4F4EF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8pt;
  font-family: Roboto-Bold;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_5 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold;
  font-size: 8pt;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold;
  font-size: 8pt;
  line-height: 0px;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_5 span#rtr-s-Rectangle_5_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold;
  font-size: 8pt;
  line-height: 0px;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Button_17 {
  position: absolute;
  top: 110px;
  left: 731px;
  width: 57px;
  height: 14px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #87B43C;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: 400;
  line-height: 8pt;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Button_17 .valign {
  vertical-align: middle;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Button_18 {
  position: absolute;
  top: 110px;
  left: 799px;
  width: 57px;
  height: 14px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #87B43C;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: 400;
  line-height: 8pt;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Button_18 .valign {
  vertical-align: middle;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Button_19 {
  position: absolute;
  top: 110px;
  left: 866px;
  width: 57px;
  height: 14px;
  background-color: #DFDED8;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: 400;
  line-height: 8pt;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Button_19 .valign {
  vertical-align: middle;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Input_6 {
  position: absolute;
  top: 170px;
  left: 731px;
  padding-left: 9px;
  width: 469px;
  height: 238px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Input_6 .valign {
  vertical-align: middle;
  line-height: 10pt;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Input_6 input {
  color: #1174C1;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 10pt;
  text-shadow: none;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Input_7 {
  position: absolute;
  top: 181px;
  left: 743px;
  padding-left: 9px;
  width: 446px;
  height: 26px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Input_7 .valign {
  vertical-align: middle;
  line-height: 12pt;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Input_7 input {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold;
  font-size: 12pt;
  text-shadow: none;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_9 {
  position: absolute;
  top: 418px;
  left: 732px;
  width: 467px;
  height: 68px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 3px;
  border-top-style: dashed;
  border-top-color: #CCCCCC;
  border-right-width: 3px;
  border-right-style: dashed;
  border-right-color: #CCCCCC;
  border-bottom-width: 3px;
  border-bottom-style: dashed;
  border-bottom-color: #CCCCCC;
  border-left-width: 3px;
  border-left-style: dashed;
  border-left-color: #CCCCCC;
  border-radius: 9px 9px 9px 9px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10pt;
  font-family: Arial;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_9 span {
  color: #C0C0C0;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 700;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #C0C0C0;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Image_64 {
  position: absolute;
  top: 134px;
  left: 1186px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_6 {
  position: absolute;
  top: 214px;
  left: 741px;
  width: 456px;
  height: 182px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11pt;
  font-family: Roboto-Bold;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_6 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold;
  font-size: 11pt;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold;
  font-size: 11pt;
  line-height: 0px;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Group_10 {
  position: absolute;
  top: 64px;
  left: 901px;
  width: 191px;
  height: 165px;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Group_26 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 191px;
  height: 165px;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Group_25 {
  position: absolute;
  top: 32px;
  left: 22px;
  width: 169px;
  height: 133px;
  display: none;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Input_23 {
  position: absolute;
  top: 61px;
  left: 0px;
  padding-left: 15px;
  width: 152px;
  height: 26px;
  background-color: #FFFFFF;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B5B5B5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B5B5B5;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Input_23 .valign {
  vertical-align: middle;
  line-height: 11pt;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Input_23 input {
  color: #030303;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Input_24 {
  position: absolute;
  top: 36px;
  left: 0px;
  padding-left: 15px;
  width: 152px;
  height: 26px;
  background-color: #FFFFFF;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B5B5B5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B5B5B5;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Input_24 .valign {
  vertical-align: middle;
  line-height: 11pt;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Input_24 input {
  color: #030303;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Input_25 {
  position: absolute;
  top: 10px;
  left: 0px;
  padding-left: 15px;
  width: 152px;
  height: 26px;
  background-color: #FFFFFF;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B5B5B5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B5B5B5;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Input_25 .valign {
  vertical-align: middle;
  line-height: 11pt;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Input_25 input {
  color: #030303;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_27 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 161px;
  height: 7px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B5B5B5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B5B5B5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B5B5B5;
  border-radius: 6px 6px 0px 0px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 0px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10pt;
  font-family: Arial;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_27 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_27 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_27 span#rtr-s-Rectangle_27_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_28 {
  position: absolute;
  top: 122px;
  left: 0px;
  width: 161px;
  height: 7px;
  background-color: #FFFFFF;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B5B5B5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #B5B5B5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B5B5B5;
  border-radius: 0px 0px 6px 6px;
  padding-top: 0px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10pt;
  font-family: Arial;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_28 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_28 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Rectangle_28 span#rtr-s-Rectangle_28_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Input_26 {
  position: absolute;
  top: 86px;
  left: 0px;
  padding-top: 4px;
  padding-left: 15px;
  width: 152px;
  height: 33px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B5B5B5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B5B5B5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B5B5B5;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Input_26 .valign {
  vertical-align: middle;
  line-height: 11pt;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Input_26 input {
  color: #030303;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Button_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 16px;
  width: 123px;
  height: 23px;
  background-color: #D9534E;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9534E;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9534E;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9534E;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9534E;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  line-height: 10pt;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Button_7 .valign {
  vertical-align: middle;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 #s-Image_11 {
  position: absolute;
  top: 10px;
  left: 126px;
  width: 11px;
  height: 8px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5e0be5bc-b4b9-4082-b311-e2c839180a80 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}